<app-nav></app-nav>

<section class="content">
  <div class="content__form-container">
    <form class="content__example-form">
      <h2 style="margin-bottom: 20px ;">Let's get things done!</h2>
      <mat-form-field class="example-full-width" appearance="fill" style="display: block;">
        <mat-label>Favorite Todo</mat-label>
        <input matInput placeholder="Ex. Pizza" [(ngModel)]="todoContent" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addTodo()">Add Todo</button>
    </form>
  </div>
  <div class="content__form-content">
    <p>
      Todos Content: {{ (allTodos$ | async)?.length }}
    </p>
    <mat-selection-list style="display: block;">
      <mat-list-option (click)="deleteTodo(todo.id)" *ngFor="let todo of allTodos$ | async">
        {{ todo.content }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</section>
